@import 'tailwindcss';

@theme {
  --font-rimac: 'Rimac-Display', 'sans-serif';
  --font-br-sonoma: 'BR-Sonoma', 'sans-serif';
  --color-rimac-red: #f7052d;
  --color-rimac-black: #03050f;
  --color-rimac-white: #ffffff;
  --color-rimac-grey: #05030f;
  --color-rimac-purple: #621fff;
}
