@import 'tailwindcss';

@theme {
  --font-rimac: 'Rimac-Display', 'sans-serif';
  --font-br-sonoma: 'BR-Sonoma', 'sans-serif';
  --color-rimac-red: #f7052d;
  --color-rimac-black: #03050f;
  --color-rimac-white: #ffffff;
  --color-rimac-grey: #05030f;
  --color-rimac-purple: #621fff;
}

.css-13cymwt-control {
  padding: 10px 15px 10px 15px;
}
.react-select__control {
  padding: 10px 15px 10px 15px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff00;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #03050f;
  border-radius: 10px;
  border: 2px solid #03050f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #621fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-thumb::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: #621fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-thumb::-ms-thumb {
  width: 30px;
  height: 30px;
  background-color: #621fff;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes drawCircle {
  0% {
    stroke-dasharray: 0 314; /* 314 is the approximate circumference of a circle with radius 50 */
    stroke-dashoffset: 314; /* Start from the bottom */
  }
  100% {
    stroke-dasharray: 314 0;
    stroke-dashoffset: 0;
  }
}

.animate-draw-circle {
  animation: drawCircle 2s forwards;
  stroke-linecap: round; /* Makes the ends of the stroke rounded */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes checkMark {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

.animate-check {
  animation: fadeIn 0.5s ease-in-out forwards;
}
